*{
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-size: xx-large;
  background-color: #092635;
}

.crosshatch-bg {
  width: 100vw;
  height: 100vh;
  background:
    linear-gradient(45deg, transparent 49.5%, #ccc 49.5%, #ccc 50.5%, transparent 50.5%),
    linear-gradient(-45deg, transparent 49.5%, #ccc 49.5%, #ccc 50.5%, transparent 50.5%);
  background-size: 20px 20px;
}
body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  overflow: hidden;
}


.planet {
  width: 50px;
  height: 50px;
  background: radial-gradient(circle, #e0e0e0, #c0c0c0, #a0a0a0);
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: -5%;
  transform: translate(-50%, -50%);
  animation: rotatePlanet 10s linear infinite;
}

.moon {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
}

.moon1 {
  animation: orbit 5s linear infinite, rotateMoon1 2s linear infinite;
}

.moon2 {
  animation: orbit 6s linear infinite, rotateMoon2 3s linear infinite;
}

.moon3 {
  animation: orbit 4s linear infinite, rotateMoon3 4s linear infinite;
}


@keyframes rotateMoon1 {
  0% {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(20px) rotate(-360deg);
  }
}

@keyframes rotateMoon2 {
  0% {
    transform: rotate(0deg) translateX(30px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}

@keyframes rotateMoon3 {
  0% {
    transform: rotate(0deg) translateX(40px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(40px) rotate(-360deg);
  }
}


@keyframes rotatePlanet {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.planet::before,
.planet::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: #333;
  border-radius: 50%;
  animation: orbit 5s linear infinite;
}

.planet::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.planet::after {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(60px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(60px) rotate(-360deg);
  }
}
/* mở đầu trang */

.rainbow-hover{
  font-size: 50px;
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text ;
  color: transparent;
  display: inline-block;
  transition: background-position 0.5s;
  background-size: 200% auto;
  cursor: pointer;
 
}

.rainbow-hover:hover {
  background-position: right center;
}

/* nút bắt đầu */
.btn-start{
  border: none;
  background-color: #092635;
}

.btn-start a{
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  transition: background-position 0.5s;
  background-size: 200% auto;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  animation: rainbowAnimation 3s linear infinite;
}

.btn-start:hover a{
  box-shadow: black;
  background-position: right center;
  background-color: #092635;
}


@keyframes rainbowAnimation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

/* ô lục giác */


.hexagon-container {
  position: fixed;
  top: 110% ;
  left: -40% ;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

#hexagon1 {
  position: absolute;
  top: 85%;
  left: -50%;
}

#hexagon2 {
  position: absolute;
  top: 135%;
  left: -30%;
}

#hexagon3 {
  position: absolute;
  top: 85%;
  left: -30% ;
}

#hexagon4 {
  position: absolute;
  top: 110%;
  left: -20%;
}



.hexagon {
  width: 100px;
  height: 57.74px;
  background-color: #3498db;
  position: relative;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}





